@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  font-size: 16px; }

h2 {
  margin-top: 0px; }

ul {
  padding-left: 24px; }

.amy-main {
  position: relative;
  overflow-x: hidden;
  width: 100%; }

.left-box {
  position: absolute;
  left: 0;
  width: 250px;
  height: 300px;
  transition: left 1s; }

.task-wrap {
  display: flex; }

.task-wrap-left {
  margin-left: 270px;
  transition: margin-left 1s;
  width: 50%; }

.task-wrap-left--head {
  margin-left: 16px; }

.task-wrap-left--add-task {
  margin-left: 16px;
  padding-left: 8px; }

.task-wrap-right {
  overflow-x: hidden;
  transition: right 1s;
  margin-left: 20px; }

.category-list {
  list-style: none; }

.category-list--each {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px; }

.category-list--each:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #fff; }

.add-category {
  margin-left: 24px;
  padding-left: 8px; }

.task-list {
  list-style: none; }

.task-list--each {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px; }

.task-list--check {
  margin-right: 16px; }

.completed-tasks--head {
  margin-top: 16px;
  margin-left: 16px; }

.completed-task-list {
  list-style: none; }

.completed-task-list--each {
  text-decoration: line-through;
  margin-top: 8px; }

.menu {
  cursor: pointer; }

.list-header {
  display: flex; }

.listsActive ul {
  list-style: none;
  padding: 0; }
  .listsActive ul li {
    cursor: pointer; }

.tasksActive ul {
  list-style: none;
  padding: 0; }
  .tasksActive ul li {
    cursor: pointer;
    padding: 1px; }

.arrow {
  cursor: pointer; }
